
<header class='site-header'>

  <div class='branding'>
    Marci's flowers
  </div>

  <nav class='site-navigation'>
    <ul class='menu'>
      <li>
        {{#link-to 'welcome'}}
          <span>Home</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'about'}}
          <span>About</span>
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'flowers'}}
          <span>Flowers</span>
        {{/link-to}}
      </li>
    </ul>
  </nav>

</header>

<main class='outlet'>
  {{outlet}}
</main>

<footer class='site-footer'>
  <a href='http://marciwashington.com' target='website'>marciwashington.com</a> -
  <a href='mailto:marciwashington@gmail.com' target='email'>email marci</a>
</footer>
